{% extends "::prop.html.twig" %}
<<<<<<< HEAD
 {% block form %}
      <div class="row">
        <div class="col text-center">
          <div class="section_title">
            <h2>PROPOSER UN BIEN</h2>
             {% if saved is defined %}
                        <div class="alert alert-success" role="alert">
                            Reservation enregistré avec succès.
                        </div>
{% endif %}
          </div>
        </div>
      </div>
            
 <form  method="post" class="cmxform form-horizontal tasi-form register-form row" id="signupForm"  novalidate="novalidate">              
 <div class="col-md-6 register-sec">
                <h2 class="text-center">PROPRIETAIRE</h2>      <div class="form-group">
                        <label for="name" class="text-uppercase">Nom Complet</label>
                        <input type="name" name="nomcomplet" class="form-control" placeholder="nom">
                    </div>
                    <div class="form-group">
                        <label for="Address" class="text-uppercase">Adresse</label>
                        <input type="address" name="adresse" class="form-control" placeholder="adresse">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail" class="text-uppercase">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="numpiece" class="text-uppercase">Numero Piece</label>
                        <input type="number" name="numpiece" class="form-control" placeholder="numero piece">
                    </div>
                    <div class="form-group">
                        <label for="tel" class="text-uppercase">TEL</label>
                        <input type="number" name="tel" class="form-control" placeholder="tel">
                    </div>
                    <div class="form-group">
                        <label for="codebank" class="text-uppercase">Code Banque</label>
                        <input type="number" name="codebanque" class="form-control" placeholder="code banque">
                    </div>
                                           <div class="form-group">
  <label for="comment">Description Bien:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div> 
        
</div>

                       <div class="col-md-6 register-sec">                <h2 class="text-center">BIEN</h2>
                            
                                                <div class="form-group">
                                                    <label for="firstname" class="control-label ">Nom bien </label>
                                                        <input class="form-control" id="nombien" name="nombien" type="text">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="control-label ">Prix Location  *</label>
                                                        <input class="form-control" name="prixlocation" >
                                                </div>
                                                <div class="form-group" id="typebien">
  <label for="usr">Type bien:</label>
  <input type="text" class="form-control" name="libelletype">
</div>
<div class="form-group" id="localite">
  <label for="usr">Localite:</label>
  <input type="text" class="form-control" name="lieu">
</div>
                                             
                                                <div class="form-group">
                                                    <label for="email" class="control-label">Etat*</label>
                                                        <input class="form-control" id="email" name="etat" type="number">
                                                </div>
                                              <label for="confirm_password" class="control-label col-lg-2">Image:</label>
                                             <div class="row">
                            <div class="col-md-12 portlets">
                                <!-- Your awesome content goes here -->
                                    <div action="#" class="dropzone" id="dropzone">
                                      <div class="fallback">
                                        <input name="imagebien" type="file" >
                                      </div>
                                    </div>
                                </div>
                         
                       <br><br>
                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <input class="btn btn-danger waves-effect waves-light" type="submit" name="save" value="Enregistrer">
                                                       
                                                  </div>
                                                </div>
                                              </div></div>
                                            </form>

</div>


             {% endblock %}
=======
>>>>>>> c7dea3f39afe44c3fc02f69a517e5def0b23e2cb
