
{% extends "::pageadmin.html.twig" %}
        {% block liste %}


   <div class="" id="divtable1">
<h1>LISTE DES TYPE </h1>
<table class="table table-condensed" border="1px" id="listebientable">
<thead>
    <tr>
        <th>ID</th>
        <th>Type bien</th>
        
    
    </tr>
</thead>
  {% for localite in localites %}
  <tbody>
    <tr>
        <td>{{localite.id}}</td>
        <td>{{localite.libelletype}}</td>
    </tr>
    </tbody>

{% else %}
<h1>ce bien n'existe pas</h1>
  {% endfor %}
</table></div>
{% endblock %}







