{% extends "::layout.html.twig" %}

{% block title %}HTLImmobilierBundle:Front:searchBien{% endblock %}

{% block body %}
<h1>Welcome to the Front:searchBien page</h1>
{% block inscription %}
{{form(form)}}
{% endblock %}
{% endblock %}
