{% extends "::adminpage.html.twig" %}
{% block content %}


                                <div class="panel panel-default col-lg-8" style="margin-left: 180px;">
                                    <div class="panel-heading"><h2 class="panel-title">AJOUTER UN BIEN</h2></div>
                                    <div class="panel-body">
                                        <div class="form">
                                            <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="#" novalidate="novalidate">
                                                <div class="form-group" id="typebien">
  <label for="usr">Type bien:</label>
  <input type="text" class="form-control" id="typebien">
</div>
<div class="form-group" id="localite">
  <label for="usr">Localite:</label>
  <input type="text" class="form-control" id="localite">
</div>
                                                <div class="form-group">
                                                    <label for="firstname" class="control-label col-lg-2">Nom bien </label>
                                                        <input class="form-control" id="nombien" name="nombien" type="text">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="control-label col-lg-2">Prix Location  *</label>
                                                        <input class="form-control" id="prixlocation" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="username" class="control-label col-lg-2">Type bien *</label>
                                                          <select class="form-control" id="typebien" name="typebien" >
                                                            <option value="">choisir un type</option>
                                                            <option value="" id="nouveau">Nouveau</option>
                                                            <option value="">dkar</option><option value="">louga</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" class="control-label col-lg-2">Localite *</label>
                                                        <select class="form-control" id="localite" name="localite" >
                                                            <option value="">choisir une localite</option><option value="">dkar</option><option value="">louga</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirm_password" class="control-label col-lg-2">Parent bien</label>
                                                        <input class="form-control" id="confirm_password" name="confirm_password" type="password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email" class="control-label col-lg-2">Etat*</label>
                                                        <input class="form-control" id="email" name="email" type="number">
                                                </div>
                                                <div class="form-group">
  <label for="comment">Description:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div> 
                                                 <label for="confirm_password" class="control-label col-lg-2">Image:</label>
                                             <div class="row">
                            <div class="col-md-12 portlets">
                                <!-- Your awesome content goes here -->
                                <div class="m-b-30">
                                    <div action="#" class="dropzone" id="dropzone">
                                      <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Save</button>
                                                        <button class="btn btn-default waves-effect" type="button">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->

                       
                        <!-- end row -->
</div>
      
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->



        </div>   <script>
            var resizefunc = [];
        </script>
       
        <!-- END wrapper -->
        <script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
 <script type="text/javascript">
                    $(document).ready(function(){
                        $("#typebien").hide();
                        $("#localite").hide();
});
        </script>
        <script>
            var resizefunc = [];
        </script>
       
{% endblock  %}