<!doctype html>
<html lang="en">
  <head>
	<title>Title</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> </head>
  <body>
  	<style type="text/css">
  		body{
  			font-family: Times New Roman;
  		}
  		.panel-heading{
text-align: center;  		}.panel{height: 300px;
  		}
  		.panel3{height: 400px;
  		}
  		

  	</style>
  	<div class="container">
  		<header class="row"></header>
  		<section class="row">
  			<div class="col-sm-6">
  			 <div class="panel panel-primary">
      <div class="panel-heading"><h2>Proprietaire</h2></div>
      <div class="panel-body">
      	<h4>Prenoms et nom:</h4><span></span>
      	<h4>Numero CNI:</h4><span></span>
      	<h4>TEL:</h4><span></span>
      	<h4>Email:</h4><span></span>
      	<h4>Adresse:</h4><span></span>
      	<h4>Code Banque:</h4><span></span>
      </div>
    </div>
  			</div>  		
  			<div class="col-sm-6">
  			 <div class="panel panel-primary">
      <div class="panel-heading"><h2>Bien</h2></div>
      <div class="panel-body">
      	<h4>Typebien:</h4><span></span>
      	<h4>Localite:</h4><span></span>
      	<h4>Prix:</h4><span></span>
      	<h4>Etat:</h4><span></span>
      	<h4>Description:</h4><span></span>
      </div>
    </div>
  			</div>
  <div class="col-sm-6">
      <div class="panel panel3 panel-primary">
        <div class="panel-heading"><h2>Contrat</h2></div>
        <div class="panel-body">
        	 <div class="form-group">
  <label for="comment">Terme du contrat:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div> <div class="radio">
  <label><input type="radio" name="optradio">Accepter</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Refuser</label>
</div></div><button class="btn btn-primary">Valider</button>
      </div></div>
  </section>
  		<footer class="row"></footer>
  	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>